@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


body {
    background-color: #0E0E0E;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.centre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.link {
    line-height: 3.5rem;
    width: 20vw;
    margin: 10px 0;
}

.link:not(.active-tab) {
    margin: 10px 30px;
    overflow: hidden;
}

.link a {
    text-decoration: none;
    color: white;
    transition: color .3s ease-in-out;
}

.link a:hover {
    color: aquamarine;
    transition: color .3s ease-in-out;
}

.active-tab {
    height: 4rem;
    background-color: #00524A;
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; 
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.card-design {
    height: fit-content;
    width: 45vw;
    border-bottom: 1px solid #00524A;
    margin-left: 2vw;
    padding-bottom: 2vh;
}

.homework-title {
    color: white;
    font-size: x-large;
}

.content {
    font-family: 'Inter', sans-serif;
    font-size: medium;
    color: #A1C2BF;
}

.profile-panel{
    width: 22vw;
    background-color: rgba(10, 10, 10, 0.3);
    height: 80vh;

    margin-left: 5vw;
    margin-right: -1vw;
    border-radius: 1vh;
}
.rhs {
    width: 77vw;
    height: fit-content;
    position: absolute;
    right: 0;
    left: auto;
}

.profile {
    display: flex;
    color: white;
    align-items: center;
    padding: 20px;
}
