@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
body {    
    padding:0px;
    margin: 0px;
    font-family: "Manrope", sans-serif;
    background-color: #F4FAFF;
}

.card-design {
    height: fit-content;
    width: 40vw;
    border-bottom: 1px solid #00524A;
    color:white;
    padding: 20px;
    margin-left: 2vw;
    padding-bottom: 2vh;
}

