 
.nav-wrap {

    position: absolute;
    left: 0px;
    margin: 0;
    padding: 0;
}

.NavBar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15vw;
    border-right: 1px solid #00524A;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    padding-right: 2vw;
    padding-left: -1vw;
}

