<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/login_register.css' %}">
    <title>Login System</title> 
</head>
<body>
    
    {% if messages %}
    <ul class="messages">
       {% for message in messages %} 
            <li>{{message}}</li>
       {% endfor %} 
    </ul>
    {% endif %}

    {% if page == 'login' %}
    <div class = "form">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="input">
                <label>Username</label>
                <input type="text" name="username" placeholder="Enter Username">
            </div>
            <div class="input">
                <label>Password</label>
                <input type="password" name="password" placeholder="Enter Password">
            </div>
            <div class="input"><input type="submit" name="Login"/></div>
        </form>

        <p>Haven't sign up yet?</p>
        <a href="{% url 'register' %}">Sign Up</a>
    </div>

    {% else %}
    <div class = "form">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register">
        </form>
        <p>Already signed up?</p>
        <a href="{% url 'login' %}">Log In</a>
    </div>

    {% endif %}
</body>
</html>