<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CSPortal | Log in</title>
    {% load static %}
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/base/main.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/base/login_register.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/CSPortal.png' %}">
    <!-- <script src='main.js'></script> -->
</head>
<body class="bg">
    {% if page == 'login' %}
    <div class="login-card">

        <div class="all-messages">
            {% if messages %}
                {% for message in messages %}
                <li class="messages">{{message}}</li>
                {% endfor %}
            {% endif %}
        </div>
        <div class="login-panel">
            <form action="" method="post">
                {% csrf_token %}
                <h1 class="heading">CSPortal | Log In</h1>
                <p class="label">Email</p>
                <input type="text" name="email" class="txt-field username">
                <p class="label">Password</p>
                <input type="password" name="password" class="txt-field">
                <button type="submit" class="submit" name="Login">Log In</button>
                <p class="sign-up">Don't have an account? <a href="{% url 'register' %}" class="sign-up-link">Sign Up</a></p>
            </form>
        </div>
        <div class="illustration">
            <img src="{% static 'images/base/login_illustration.png' %}" alt="illustration" class="illustration">
        </div>
        
    </div>
    {% else %}
    <div class="login-card">
        <div class="all-messages">
            {% if messages %}
                {% for message in messages %}
                <li class="messages">{{message}}</li>
                {% endfor %}
            {% endif %}
        </div>
        <div class="login-panel">
            <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="heading">CSPortal | Sign Up</h1>
                <p class="label">Username</p>
                <input type="text" name="username" class="txt-field username" placeholder="Enter Your Username Here..." autocomplete="off" value="{{formvals.username}}"/>
                <p class="label">Email</p>
                <input type="email" name="email" class="txt-field" placeholder="Enter Your Email Here..." autocomplete="off" value="{{formvals.email}}"/>
                <p class="label">Password</p>
                <input type="password" name="password" class="txt-field" placeholder="Enter Your Password Here..." autocomplete="off" value="{{formvals.password}}">
                <input type="number" name="phone_number" class="txt-field" placeholder="Confirm Your Phone No. Here..." autocomplete="off" values="{{formvals.phone_number}}">
                <button type="submit" class="submit" name="Register">Sign Up</button>
                <p class="sign-up">Already Have An Account? <a href="{% url 'login' %}" class="sign-up-link">Log In</a></p>
            </form>
        </div>
        <div class="illustration">
            <img src="{% static 'images/base/login_illustration.png' %}" alt="illustration" class="illustration">
        </div> 
    </div>
    {% endif %}
</body>
</html>