<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/navbar.css' %}">
</head>
<body>
    <div class="nav-wrap">
        <div class="NavBar">
            <div class="link active-tab">
                <a href="{% url 'home' %}">Home</a>
            </div>
            <div class="link">
                <a href="">Notifications</a>
            </div>
            <div class="link">
                <a href="{% url 'homeworks' %}">Homeworks</a>
            </div>
            <div class="link">
                <a href="">Report Card</a>
            </div>
            <div class="link">
                <a href="">Marks</a>
            </div>
        </div>
    </div>
</body>
</html>