<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CSPortal | Log in</title>
    {% load static %}
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/base/main.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/base/login_register.css' %}">
    <link rel="icon" type="image/x-icon" href="CSPortal.ico">
    <script src='main.js'></script>
</head>
<body class="bg">
    {% if messages %}
    <ul class="messages">
       {% for message in messages %} 
            <li>{{message}}</li>
       {% endfor %} 
    </ul>
    {% endif %}
    {% if page == 'login' %}
    <div class="login-card">
        <div class="login-panel">
            <form action="" method="post">
                {% csrf_token %}
                <h1 class="heading">CSPortal | Log In</h1>
                <p class="label">Username</p>
                <input type="text" name="username" class="txt-field username">
                <p class="label"> Password</p>
                <input type="password" name="password" class="txt-field">
                <button type="submit" class="submit" name="Login">Log In</button>
                <p class="sign-up">Don't have an account? <a href="{% url 'register' %}" class="sign-up-link">Sign Up</a></p>
            </form>
        </div>
        <div class="illustration">
            <img src="illustration.png" alt="illustration" class="illustration">
        </div>
        
    </div>
    {% endif %}
</body>
</html>