
.homework {
    border-radius: 15px;
    margin-right: 30em;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.available-tabs {
    margin-left: 50px;
    width: 150%;
}

.tabs ul {
    list-style: none;
}

.extra-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text {
    font-weight: bold;
}

.extra-info {
    gap: 10px;
}

.all-homeworks {
    margin: 0rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 30px;
}