@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@keyframes slideInFromLeft {
    0% {
      left: -10%; /* Starting position, fully hidden to the left */
    }
    100% {
      left: 20px; /* Ending position, slide in 20px from the left */
    }
  }


input:focus, input:active {
    outline: none;
    border-color: #5887FF;
    transition: border .3s ease-in-out;
}
.messages {
    background-color: rgba(255, 90, 90, 0.96);
    color: #020b23;
    list-style: none;
    padding : 10px;
    text-align: center;
    font-size: small; 
    border-radius: 20px;
}
.bg {
    background-color: #22031F;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background-color: white;
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    place-items: center;
}

.submit{
    height: 3rem;
    width: 15rem;
    transition: color .3s ease-in-out;
    border: black;
    border-width: 2px;
    border-radius: 100px;
    top: 10vh;
    border-style: solid;
    background-color: #00caa9;
    margin-top: 1vh;
    font-family: 'Inter', sans-serif;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.submit:hover {
    color: #020b23;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.txt-field{
    height: 3rem;
    width: 20rem;
    border: black;
    border-width: 2px;
    border-radius: 100px;
    transition: border .3s ease-in-out;
    top: 5vh;
    border-style: solid;
    background-color: white;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-size: medium;
    padding-left: 3vh;
}

.label{
    font-family: 'Inter', sans-serif;
    font-size: large;
    font-weight: bold;
    margin: none;
    line-height: 1vh;
}

.illustration {
    height: 70vh;
    width: 70vh;
    padding-left: 5vw;
}

.heading{
    font-size: xx-large;
    font-family: 'Inter', sans-serif;
    margin-bottom: 6vh;
}

.sign-up{
    font-family: 'Inter', sans-serif;
    transition: color .3s ease-in-out;
    text-align: center;

}

.sign-up-link{
    color: #000000;
    font-weight: bolder;
    transition: color .3s ease-in-out;
}

.sign-up-link:hover {
    color: #5887FF;
    transition: color .3s ease-in-out;
}

.all-messages {
    position: absolute;
    top: 10px;
    left: 30px;
    gap: 10px;
    margin : 10px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    animation: slideInFromLeft 1s forwards;
}
/* The code that is commented out is for responsive design */

@media only screen and (max-width: 1350px) {
    form {
        height: 500px;
        width: 700px;
        display: grid; 
        grid-template-columns: auto;
        align-items: center;
        place-items: center;
    }
    .login-card {
        flex-direction: column;
        height: 800px;
        width: 700px;
    }

    .sign-up {
        font-size: large;
    }

    .label {
        font-size: x-large;
    }

    .illustration {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    form {
        height: 80%;
        width: 70%;
    }
    .login-card {
        height: 80%;
        width: 70%;
    }
}
