@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

body {    
    padding:0px;
    margin: 0px;
    font-family: "Manrope", sans-serif;
    background-color: #F4FAFF;
}