.wrapper {
    position: relative;
}


.navbar {
    display: flex;
    width: 100%;
    top:0;
    position: fixed;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.3rem;
    margin-top: 0;
    background: #011C27;
    color: white;
}

a {
    color: #F4FAFF;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
    font-weight: bolder;
}

a:hover {
    transition: color .3s;
    /* color: #c8f8ff; */
    color: #42E2B8;
    cursor: pointer;
}
.profile-img { 
    vertical-align: middle;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.hidden {
    display: none;
}

