.navbar {
    display: grid;
    position: fixed;
    right: 0;
    left: 0;
    grid-template-columns: 2fr 1fr 1fr 1fr;   
    padding: 1.3rem;
    margin: 0px;
    background: #071013;
    color: white;
}

a {
    color: #F4FAFF;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: #7f8aff; /* or #49c8ff */
    transition: color .3s;
    cursor: pointer;
}