.main {
  height: 100vh;
}
.card {
  background-color: white;
  height: 80vh;
  width: 80vw ;
  color: black;
  top: 10vh;
  position: relative;
  left: 10vw;
  border-radius: 50px;
}
.gridcontainer {
  display: inline-grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  height: fit-content;
  width: fit-content;
}
.griditem{
  position: relative;
  
  height: 10vh;
  width: 10vw;
}